In [1]:
import pandas as pd
import os

In [2]:
train_df = pd.read_csv('../data/facebook/train.csv')
train_df.drop('Unnamed: 0', axis = 1, inplace = True)

test_df = pd.read_csv("../data/facebook/test.csv")
test_df.drop('Unnamed: 0', axis = 1, inplace = True)

val_df = pd.read_csv("../data/facebook/val.csv")
val_df.drop('Unnamed: 0', axis = 1, inplace = True)

train_df.tail()

         id                                               text  label
8495  10423                   nobodi want to hang auschwitz me      1
8496  98203  when god grant you a child after 20 year of yo...      1
8497  36947  gay on social medium equal bodi posit love lov...      1
8498  16492  have a bad day you could be a siam twin attach...      1
8499  15937  i hate muslim too they take their religion too...      1

In [ ]:
6